<div class="day-consume-container page-content" *ngFor="let item of datas;let i = index">
  <div class="date">
    <span>{{ item.custumeDate }}</span>
    <span *ngIf="i === 0">刷新</span>
  </div>
  <div class="day-data">
    <div class="item-data" *ngFor="let item of item.datas">
      <div>
        <span class="iconfont icon-jiubei"></span>
      </div>
      <div>
        <p>{{ item.companyName }}</p>
        <p class="small">
          <span>{{ item.category }}</span>
          <span>{{ item.consumption }}</span>
          <span>{{ item.time }}</span>
        </p>
      </div>
      <div class="stauts">
        <span *ngIf="item.account">已入账</span>
        <span *ngIf="!item.account">未入账</span>
        <span>-</span>
        <span>
          <span class="iconfont icon-renminbidanjia"></span>
        </span>
        <span class="money">{{ item.amount }}</span>
      </div>
    </div>

  </div>
</div>