<div class='page-content'>
  <div class="line">
    <li><span class="bigger">08</span>/2019</li>
    <li>余额:</li>
  </div>
  <div class="line">
    <div>
      <li>支出</li>
      <li class='money'>
        <!-- <img src="./assets/icons/renminbi.svg" alt=""> -->
        <span class="iconfont icon-fl-renminbi"></span>
        <span>1,888.15</span>
      </li>
    </div>
    <div>
      <li>收入</li>
      <li class='money'>
        <!-- <img src="./assets/icons/renminbi.svg" alt=""> -->
        <span class="iconfont icon-fl-renminbi"></span>
        <span>148.15</span>
      </li>
    </div>
    <div>
      <span class="iconfont icon-xinxi"></span>
    </div>
  </div>
  <div class="line-budget">
    <span>預算</span>
    <span>您还未设置</span>
    <span>
      <span class="iconfont icon-chevron-right"></span>
    </span>
  </div>
</div>